
# BEGIN WordPress
# Директиви (рядки) між `BEGIN WordPress` і `END WordPress`
# створені автоматично і підлягають змінам тільки через фільтри WordPress.
# Зміни зроблені вручну між цими маркерами будуть перезаписані.

# END WordPress